:host {
    align-items: center;
    background-color: var(--flux-overlay-background-color);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--flux-overlay-z-index);
}

.container {
    background-color: var(--flux-overlay-container-background-color);
    color: var(--flux-overlay-container-foreground-color);
    height: auto;
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);
    min-width: min(max(300px, 50%), calc(100% - 40px));
    overflow: auto;
    padding: 10px;
    padding-top: 0;
    width: auto;
}

.title {
    font-size: 20px;
    font-weight: bold;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.message {
    font-size: 16px;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
    width: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    width: auto;
}

input,
select,
textarea {
    background-color: var(--flux-overlay-input-background-color);
    border: 1px solid var(--flux-overlay-input-border-color);
    border-radius: 0;
    box-sizing: content-box;
    color: var(--flux-overlay-input-foreground-color);
    font-family: inherit;
    font-size: 16px;
    height: 20px;
    max-width: 100%;
    outline: none;
    padding: 2px 5px;
    width: auto;
}

input:not(:last-child),
select:not(:last-child),
textarea:not(:last-child) {
    border-bottom: none;
}

select[multiple] {
    height: auto;
}

textarea {
    height: 40px;
    min-height: 40px;
    resize: vertical;
}

input:not(:disabled):invalid,
select:not(:disabled):invalid,
textarea:not(:disabled):invalid {
    outline: 2px solid var(--flux-overlay-input-invalid-outline-color);
    outline-offset: -2px;
}

input:not(:disabled):focus-visible,
select:not(:disabled):focus-visible,
textarea:not(:disabled):focus-visible {
    outline: 2px solid var(--flux-overlay-input-focus-outline-color);
    outline-offset: -2px;
}

input:disabled,
select:disabled,
textarea:disabled {
    opacity: 0.6;
}

.loading {
    --flux-loading-spinner-color: var(--flux-overlay-loading-color);
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    width: auto;
}

button {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--flux-overlay-button-background-color);
    border: none;
    border-radius: 0;
    color: var(--flux-overlay-button-foreground-color);
    cursor: default;
    font-size: 16px;
    height: 30px;
    max-width: 100%;
    outline: none;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

button:not(:disabled) {
    cursor: pointer;
}

button:not(:disabled):focus-visible {
    outline: 2px solid var(--flux-overlay-button-focus-outline-color);
    outline-offset: -2px;
}

button:disabled {
    opacity: 0.6;
}

button:not(:disabled):hover,
button:not(:disabled):active {
    background-color: var(--flux-overlay-active-button-background-color);
    color: var(--flux-overlay-active-button-foreground-color);
}

.buttons[data-confirm] {
    flex-direction: row;
}

.buttons[data-confirm] button {
   flex-grow: 1;
   flex-shrink: 1;
   width: 0;
}

.title:empty,
.message:empty,
.inputs:empty,
.loading:empty,
.buttons:empty {
    display: none;
}
