:root, :host {
    --flux-overlay-active-button-background-color: #000000;
    --flux-overlay-active-button-foreground-color: #ffffff;
    --flux-overlay-background-color: rgba(0, 0, 0, 0.2);
    --flux-overlay-button-background-color: #000000;
    --flux-overlay-button-focus-outline-color: #000000;
    --flux-overlay-button-foreground-color: #ffffff;
    --flux-overlay-container-background-color: #ffffff;
    --flux-overlay-container-border-color: #000000;
    --flux-overlay-container-foreground-color: #000000;
    --flux-overlay-loading-color: #000000;
    --flux-overlay-loading-size: 100px;
    --flux-overlay-loading-width: 2px;
    --flux-overlay-z-index: 2000;
}
