:host {
    align-items: center;
    background-color: var(--overlay-background-color);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--overlay-z-index);
}

.container {
    background-color: var(--overlay-container-background-color);
    border: 1px solid var(--overlay-container-border-color);
    color: var(--overlay-container-foreground-color);
    height: auto;
    max-height: calc(100% - 42px);
    max-width: calc(100% - 42px);
    min-width: min(max(300px, 50%), calc(100% - 42px));
    overflow: auto;
    padding: 10px;
    padding-top: 0;
    width: auto;
}

.container:focus-visible {
    outline: 2px solid var(--overlay-container-focus-outline-color);
    outline-offset: -2px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
    width: auto;
}

.message {
    font-size: 16px;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
    width: auto;
}

.inputs {
    --form-background-color: var(--overlay-container-background-color);
    --form-button-background-color: var(--overlay-button-background-color);
    --form-button-focus-outline-color: var(--overlay-button-focus-outline-color);
    --form-button-foreground-color: var(--overlay-button-foreground-color);
    --form-foreground-color: var(--overlay-container-foreground-color);
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    width: auto;
}

.loading {
    --loading-spinner-color: var(--overlay-loading-color);
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    width: auto;
}

button {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--overlay-button-background-color);
    border: none;
    border-radius: 0;
    color: var(--overlay-button-foreground-color);
    cursor: default;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: unset;
    font-size: 16px;
    height: 30px;
    outline: none;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 0;
}

button:not(:disabled) {
    cursor: pointer;
}

button:not(:disabled):focus-visible {
    outline: 2px solid var(--overlay-button-focus-outline-color);
    outline-offset: -2px;
}

button:disabled {
    opacity: 0.6;
}

button:not(:disabled):active {
    background-color: var(--overlay-active-button-background-color);
    color: var(--overlay-active-button-foreground-color);
}

@media (hover: hover) {
    button:not(:disabled):hover {
        background-color: var(--overlay-active-button-background-color);
        color: var(--overlay-active-button-foreground-color);
    }
}

.buttons button[data-wide] {
   flex-grow: 0;
   flex-shrink: 0;
   width: 100%;
}

:is(.title, .message, .inputs, .loading, .buttons):empty {
    display: none;
}
